/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
}
.title {
  font-size: 24px;
  color: #373737;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 1px;
}

.text {
  color: #4e4e4e;
  line-height: 20px;
}

.text-accent {
  font-weight: 500;
  color: #373737;
}

.button {
  width: 184px;
  height: 46px;
  background: #00AFDB;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: #009CC2;;
}

.two-column-layout {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.wrapper {
  margin: 0 auto;
  width: 1600px;
  height: 744px;
  background: url(./Assets/yourLife/bg-image.jpg) no-repeat;
}

/* HEADER */
.main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1 {
  color: black;
}

header {
  height: 95px;
  background-color:transparent;
}

nav {
  margin: 0 auto;
  width: 583px;
}

.nav_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_item {
  /* bla-bla */
}

.navigation {
  font-weight: normal;
  line-height: 140%;
  opacity: 0.8;
  text-decoration: none;
  /* margin: 0 48px; */
}

.navigation:hover,
.navigation-active {
  text-decoration: underline;
  opacity: 1;
}

.logo {
  display: block;
  width: 45px;
  height: 45px;
  background: url(./Assets/header/logo.svg) no-repeat;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 5px;
  margin-right: 5px;
}

.logo:hover {
  background: url(./Assets/header/logo_hidden.svg) no-repeat;
}

/* YOUR LIFE */
.life_content {
  padding-top: 134px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.life_title {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.life_text {
  padding-top: 22px;
  font-size: 18px;
  color: white;
  line-height: 140%;
  text-align: center;
}

.life-button {
  margin-top: 30px;
}

.life_social {
  margin-top: 183px;
  width: 169px;
  display: flex;
  justify-content: space-between;
}

.life-icon:hover {
  opacity: 0.7;
}

/* RAPPRESENT */
.rappresent {
  width: 1600px;
  background-color:white;
}
.rappresent_content {
  width: 1062px;
  padding-top: 120px;
  padding-bottom: 136px;
  margin: 0 auto;
}

.title-rappresent {
  margin-top: 174px;
}

.text-rappresent {
  margin-top: 22px;
}

.button-rappresent {
  margin-top: 30px;
}

/* COMMUNITY */
.community {
  width: 1600px;
  height: 504px;
  background-color: #F5F6F7;
}

.slider {
  padding-top: 81px;
  text-align: end;
  width: 1323px;
}

.slider-text {
  color: #373737;
  font-size: 18px;
}

.title-community {
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}

.text-community {
  width: 345px;
}

.rectangle:hover {
  cursor: pointer;
  opacity: 0.8;
}

.community-container {
  margin-top: 17px;
  display: flex;
}

.community-information {
  text-align: center;
  margin-top: 36px;
  margin-left: 238px;
}

.three-column-layout {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-left: 123px;
}

.community-image {
  margin-right: 29px;
}

/* IMPLEMENT */
.implement {
  width: 1600px;
  background: white;
}

.implement_content {
  width: 952px;
  padding-top: 120px;
  padding-left: 268px;
  padding-bottom: 140px;
}

.title-implement {
  margin-top: 200px;
}

.text-implement {
  margin-top: 20px;
}

.button-implement {
  margin-top: 30px;
}

/* SIGN UP */
.sign-up {
  width: 1600px;
  height: 524px;
  background: url(./Assets/subscribe/pexels-christina-morillo-1181675\ 1.jpg);
}

.content_sign-up {
  padding-top: 197px;
}

.button-container {
  margin-top: 12px;
}

.title-sign-up {
  color: white;
}

form {
  text-align: center;
}

.e-mail {
  width: 340px;
  height: 46px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.submit {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  width: 66px;
  height: 46px;
  background: #00AFDB;
  background-image: url(./Assets/subscribe/fa-check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0px;
  right: 4px;
  top: 18px;
}

.e-mail {
  cursor: pointer;
}
.submit:hover {
  cursor: pointer;
  background-color: #009CC2;
}

/* DOWNLOAD */
.download {
  width: 1600px;
  background-color: #F5F6F7;
}

.content_download {
  text-align: center;
  padding-top: 118px;
}

.button-download {
  display: flex;
  justify-content: start;
  border: none;
}

.text-download {
  margin-top: 20px;
}

.download-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.button-text {
  width: 127px;
  height: 46px;
  background: #00AFDB;
  border-radius: 0px;
  text-transform: uppercase;
}

.button-text a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.button-icon {
  width: 59px;
  height: 46px;
  background: #009CC2;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center center;
}

.apple {
  background-image: url(./Assets/download/icon-apple.svg);

}

.android {
  background-image: url(./Assets/download/icon-android.svg);

}