/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
}
.title {
  font-size: 24px;
  color: #373737;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 1px;
}

.text {
  color: #4e4e4e;
  line-height: 20px;
}

strong {
  font-weight: 500;
  color: #373737;
}

.button {
  width: 184px;
  height: 46px;
  background: #00AFDB;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: #009CC2;;
}

.two-column-layout {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin: 0 auto;
  width: 1600px;
  height: 744px;
  background: url(./Assets/yourLife/bg-image.jpg) no-repeat;
}

/* HEADER */
.main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1 {
  color: black;
}

header {
  height: 95px;
  background-color:transparent;
}

nav {
  margin: 0 auto;
  width: 596px;
}

.nav_list {
  list-style: none;
  display: flex;
  align-items: center;
}

.first-item {
  margin-right: 86px;
}

.second-item {
  margin-right: 100px;
}

.third-item {
  margin-right: 100px;
}

.fourth-item {
  margin-right: 85px;
}

.navigation {
  font-weight: normal;
  line-height: 140%;
  opacity: 0.8;
  text-decoration: none;
}

.navigation:hover,
.navigation-active {
  text-decoration: underline;
  opacity: 1;
}

.logo {
  display: block;
  width: 45px;
  height: 45px;
  background: url(./Assets/header/logo.svg) no-repeat;
  margin-top: 25px;
  margin-bottom: 25px;
}

.logo:hover {
  background: url(./Assets/header/logo_hidden.svg) no-repeat;
}

/* YOUR LIFE */
.life_content {
  padding-top: 134px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.life_title {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.life_text {
  padding-top: 22px;
  font-size: 18px;
  color: white;
  line-height: 140%;
  text-align: center;
}

.life-button {
  margin-top: 30px;
}

.life_social {
  margin-top: 183px;
  width: 169px;
  display: flex;
  justify-content: space-between;
}

.life-icon:hover {
  opacity: 0.7;
}

/* RAPPRESENT */
.rappresent {
  width: 1600px;
  background-color:white;
}
.rappresent_content {
  width: 1062px;
  padding-top: 120px;
  padding-bottom: 136px;
  margin: 0 auto;
}

.title-rappresent {
  margin-top: 174px;
}

.text-rappresent {
  margin-top: 22px;
}

.button-rappresent {
  margin-top: 30px;
}

/* COMMUNITY */
.community {
  width: 1600px;
  height: 504px;
  background-color: #F5F6F7;
}

.slider {
  padding-top: 81px;
  text-align: end;
  width: 1323px;
}

.slider-text {
  color: #373737;
  font-size: 18px;
  line-height: 100%;
}

.title-community {
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  letter-spacing: 2.4px;
  line-height: 20px;
}

.text-community {
  width: 345px;
  margin-top: 10px;
}

.rectangle:hover {
  cursor: pointer;
  opacity: 0.8;
}

.community-container {
  margin-top: 20px;
  display: flex;
}

.community-information {
  text-align: center;
  margin-top: 36px;
  margin-left: 245px;
}

.three-column-layout {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-left: 116px;
}

.community-image {
  margin-right: 29px;
}

/* IMPLEMENT */
.implement {
  width: 1600px;
  background: white;
}

.implement_content {
  width: 952px;
  padding-top: 120px;
  padding-left: 268px;
  padding-bottom: 137px;
}

.title-implement {
  margin-top: 200px;
}

.text-implement {
  margin-top: 20px;
}

.button-implement {
  margin-top: 30px;
  width: 179px;
}

/* SIGN UP */
.sign-up {
  width: 1600px;
  height: 524px;
  background: url(./Assets/subscribe/pexels-christina-morillo-1181675\ 1.jpg);
}

.content_sign-up {
  padding-top: 200px;
}

.button-container {
  margin-top: 12px;
}

.title-sign-up {
  color: white;
}

form {
  text-align: center;
}

.e-mail {
  width: 340px;
  height: 46px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 24px;
}

.submit {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  width: 66px;
  height: 46px;
  background: #00AFDB;
  background-image: url(./Assets/subscribe/fa-check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0px;
  right: 4px;
  top: 18px;
}

.e-mail:hover {
  cursor: pointer;
}

.submit:hover {
  cursor: pointer;
  background-color: #009CC2;
}

/* DOWNLOAD */
.download {
  width: 1600px;
  height: 464px;
  background-color: #F5F6F7;
}

.content_download {
  text-align: center;
  padding-top: 120px;
}

.button-download {
  display: flex;
  justify-content: start;
  border: none;
}

.text-download {
  margin-top: 20px;
}

.download-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.button-text {
  width: 127px;
  height: 46px;
  background: #00AFDB;
  border-radius: 0px;
  text-transform: uppercase;
}

.button-text:hover {
  cursor: pointer;
  background: #009CC2;
}

.button-text a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  top: 15px;
}

.button-icon {
  width: 59px;
  height: 46px;
  background: #009CC2;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-icon:hover {
  cursor: pointer;
}

.apple {
  background-image: url(./Assets/download/icon-apple.svg);
}

.android {
  background-image: url(./Assets/download/icon-android.svg);
}


/* FOOTER */
footer {
  background-color: black;
  width: 1600px;
  height: 185px;
}

.content-footer {
  margin: 0 auto;
  width: 1279px;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.footer-navigation {
  display: flex;
  list-style: none;
}

.footer-navigation-item {
  text-decoration: none;
  margin-right: 21px;
}

.footer-navigation-item:hover {
  opacity: 0.6;
}

.footer-text {
  padding-top: 15px;
}

.footer-logo {
  margin-left: -88px;
}

.footer-navigation li+li:before {
  content: "|";
  font-weight: 700;
  color: #4E4E4E;
  padding: 8px;
  position: relative;
  bottom: 3px;
  left: -11px;
  width: 8px;
  height: 0px;
}